@font-face {
    font-family: "OpenSans";
    src:  url(Open_sans_font/OpenSans-Regular.ttf);
}
@font-face{
    font-family: "OpenSansLight";
    src: url(Open_sans_font/OpenSans-Light.ttf);
}
@font-face{
    font-family: "OpenSansBold";
    src: url(Open_sans_font/OpenSans-Bold.ttf);
}

*{/**supprime les marges partout**/
    margin: 0;
    padding: 0;
}

body{/**ecriture sur toute la page**/
    font-family: OpenSans;
}

/**menu nav**/
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90px;
    justify-content: space-between;
}

nav ul{
    margin-right: 370px;
    display: flex;
    color: white;
    height: 90px;
    line-height: 90px;
}

nav li{
    padding: 0 20px;
    list-style-type: none;
    text-transform: uppercase;
}

/**survole de la souris**/
nav li:hover
{
    color:rgb(189, 27, 35);
}

/**fond couleur d'inscription*/
.active{
    background-color: rgb(189, 27, 35);
}
ul li:hover:last-child{
    color: white;
}

/**position du logo*/
.logoacs{
    margin: 20px 0 20px 350px;
}
/**fin du nav**/

/**header**/
header{
    background-image: url(img/BGheader.png);
    width: 100%;
    height: 900px;
}

/**background des sections**/
.GEN{
    background-image: url(img/BG_GEN.png);
    width: 100%;
    height: 484px;
}

.Enseignement{
    background-image: url(img/BG_enseignement.png);
    width:100%;
    height: 445px;
}

.chacun_son_metier{
    background-image: url(img/BG_chacun_son_metier.png);
    width: 100%;
    height: 580px;
}

.chacun_son_projet{
    background-image: url(img/BG_chacun_son_projet.png);
    width: 100%;
    height: 446px;
}

.titre_pro{
    background-image: url(img/BG_titre_pro.png);
    width: 100%;
    height: 300px;
}

.centre_formation{
    background-image: url(img/BG_centre.png);
    width: 100%;
    height: 844px;
}

.temoignage{
    background-image: url(img/BG_temoignage.png);
    width: 100%;
    height: 605px;
}

.contact{
    background-image: url(img/BG_contact.png);
    width: 100%;
    height: 803px;
}

.logo{
    background-image: url(img/BG_logo.png);
    width: 100%;
    height: 252px;

}
/**fin du background des sections**/

/**footer**/
footer{
    background-image: url(img/BG_footer.png);
    width: 1922px;
    height: 158px;
}

/**section GEN**/
.Trait_Rouge_Gen{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}

.container1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 110px;
}
/**fin section GEN**/

/**section Enseignement**/
.Trait_Blanc1{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}
/**logo + texte*/
.logodivers{
    color: white;
    padding-top: 100px;
    margin-left: 360px;
    margin-right: 360px;
    display: flex;
    font-size: 0.75em;
}
.theorie{
    display: block;
    width : 200px;
    height : 150px;
    text-align: center;
    margin: 0 30px;
}
.theorieicon{
    padding-bottom: 20px;
}
.developpement{
    display: block;
    width : 200px;
    height : 150px;
    text-align: center;
    margin: 0 30px;
}
.developpement_icon{
    padding-bottom: 20px;
}
.outil{
    display: block;
    width : 200px;
    height : 150px;
    text-align: center;
    margin: 0 30px;
}
.outil_icon{
    padding-bottom: 20px;
}
.aide_pragma{
    display: block;
    width : 200px;
    height : 150px;
    text-align: center;
    margin: 0 30px;
}
.aide_icon{
    padding-bottom: 20px;
}
.dev_compé{
    display: block;
    width : 200px;
    height : 150px;
    text-align: center;
    margin: 0 30px;
}
.dev_comp_icon{
    padding-bottom: 20px;
}
/*fin section enseignement**/

/*section à chacun son metier*/
.Trait_Blanc2{
    margin-left: 355px;
}
.containertexte_chacun{
    color: white;
    margin-left: 355px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    margin-top: 40px;
}

/**texte header**/
.texte_titre{
    padding-top: 285px;
    color: white;
    text-align: center;
    font-size: 3.12em;
}
.sous_titre{
    font-family: OpenSansLight;
    color: white;
    text-align: center;
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    padding: 10px 0;
}
.bouton1{
    color: white;
    background-image: linear-gradient(to left, rgb(189, 27, 35), rgb(212, 56, 64));
    text-align: center;
    font-size: 0.8em;
    margin-left: 860px;
    margin-right: 860px;
    margin-top: 50px;
    padding: 15px 0;
}
/**fin texte header**/

/**texte section GEN**/
.GEN h1{
    font-size: 2.00em;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.containerTexte_gauche{
    font-size: 0.8em;
    font-family: "OpenSansBold";
    margin-right: 23px;
    margin-top: 70px;
    text-align: right;
}

.container_liste{
    font-size: 0.8em;
    margin-left: 34px;
    margin-top: 40px;
}

.list_paragraphe{
    margin-left: 20px;
    margin-top: 15px;
    list-style: none;
}

.list_paragraphe li{
    margin-top: 6px;
}

.list_paragraphe li::before {
    content: "⬤";
    color: rgb(211, 31, 67);
    display: inline-block; 
    width:1.5em;
    margin-left: -2em;
}
/**fin texte section GEN**/

/**texte section enseignement**/
.titreEnseignement{
    color: white;
    font-size: 2.00em;
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
}
/**fin texte section enseignement**/
/**texte section chacun son metier**/
.chacun_son_metier h1{
    color: white;
    font-size: 2em;
    padding-top: 60px;
    text-transform: uppercase;
    margin-left:360px;
}
.inscris{
    display: block;
    width : 200px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 2px solid white;
    text-transform: uppercase;
}