@font-face {
    font-family: "OpenSans";
    src:  url(Open_sans_font/OpenSans-Regular.ttf);
}
@font-face{
    font-family: "OpenSansLight";
    src: url(Open_sans_font/OpenSans-Light.ttf);
}

*{/**supprime les marges partout**/
    margin: 0;
    padding: 0;
}

body{/**ecriture sur toute la page**/
    font-family: OpenSans;
}

/**menu nav**/
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90px;
    justify-content: space-between;
}

nav ul{
    margin-right: 370px;
    display: flex;
    color: white;
    height: 90px;
    line-height: 90px;
}

nav li{
    padding: 0 20px;
    list-style-type: none;
    text-transform: uppercase;
}

/**survole de la souris**/
nav li:hover
{
    color:rgb(189, 27, 35);
}

/**fond couleur d'inscription*/
.active{
    background-color: rgb(189, 27, 35);
}
ul li:hover:last-child{
    color: white;
}

/**position du logo*/
.logoacs{
    margin: 20px 0 20px 350px;
}
/**fin du nav**/

/**header**/
header{
    background-image: url(img/BGheader.png);
    width: 100%;
    height: 900px;
}

/**background des sections**/
.GEN{
    background-image: url(img/BG_GEN.png);
    width: 1921px;
    height: 484px;
}

.Enseignement{
    background-image: url(img/BG_enseignement.png);
    width: 1920px;
    height: 445px;
}

.chacun_son_metier{
    background-image: url(img/BG_chacun_son_metier.png);
    width: 1922px;
    height: 580px;
}

.chacun_son_projet{
    background-image: url(img/BG_chacun_son_projet.png);
    width: 1922px;
    height: 446px;
}

.titre_pro{
    background-image: url(img/BG_titre_pro.png);
    width: 1921px;
    height: 300px;
}

.centre_formation{
    background-image: url(img/BG_centre.png);
    width: 1921px;
    height: 844px;
}

.temoignage{
    background-image: url(img/BG_temoignage.png);
    width: 1920px;
    height: 605px;
}

.contact{
    background-image: url(img/BG_contact.png);
    width: 1922px;
    height: 803px;
}

.logo{
    background-image: url(img/BG_logo.png);
    width: 1921px;
    height: 252px;

}
/**fin du background des sections**/

/**footer**/
footer{
    background-image: url(img/BG_footer.png);
    width: 1922px;
    height: 158px;
}

/**section GEN**/
.container1{
    display: flex;
}

/**texte header**/
.texte_titre{
    padding-top: 285px;
    color: white;
    text-align: center;
    font-size: 3.12em;
}
.sous_titre{
    font-family: OpenSansLight;
    color: white;
    text-align: center;
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    padding: 10px 0;
}
.bouton1{
    color: white;
    background-image: linear-gradient(to left, rgb(189, 27, 35), rgb(212, 56, 64));
    text-align: center;
    font-size: 0.8em;
    margin-left: 860px;
    margin-right: 860px;
    margin-top: 50px;
    padding: 15px 0;
}
/**fin texte header**/

/**texte section GEN**/
.GEN h1{
    font-size: 2.00em;
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
}